<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DOSA - One Page Restaurant Html5 Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CoderHut">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- Css File -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/meanmenu.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- Site Header -->
    <header id="masthead" class="site-header pt-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <!-- Logo -->
                        <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 text-center">
                    <!-- Main Menu -->
                    <nav class="main-menu" id="mobile-menu">
                        <ul class="nav">
                            <li><a class="nav-link active" href="#home">HOME</a></li>
                            <li><a href="#menu" class="nav-link">MENU</a></li>
                            <li><a href="#reservation" class="nav-link">RESERVATION</a></li>
                            <li><a href="#" class="nav-link">SHOP</a></li>
                            <li><a href="#news" class="nav-link">NEWS</a></li>
                            <li><a href="#colophon" class="nav-link">CONTACT</a></li>
                        </ul>
                    </nav>
                    <div class="mobile-menu"></div>
                </div>
                <div class="col-lg-2 d-none d-lg-block">
                    <a href="#" class="theme-default-btn">reservation</a>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </header><!-- // End Site Header -->
    <!-- Slider Area -->
    <section id="home" class="slider-area">
        <a class="bottom-nxt-section" href="#discover-story"></a>
        <div class="slider-active owl-carousel">
            <!-- Slider Active -->
            <!-- Sinlge Slider Item -->
            <div class="single-slider-item sec-overlay d-flex align-items-center" style="background-image: url(img/slider/slider-1.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <div class="slider-content">
                                <h1 class="fadeInLeft animated animated-04s">Always fresh <span>&amp;</span> Delightful</h1>
                                <p class="m-0 fadeIn animated animated-2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
                            </div>
                        </div>
                    </div><!-- // End Row -->
                </div><!-- // End Container -->
            </div>
            <!-- Sinlge Slider Item -->
            <div class="single-slider-item sec-overlay d-flex align-items-center" style="background-image: url(img/slider/slider-1.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <div class="slider-content">
                                <h1>Always fresh <span>&amp;</span> Delightful</h1>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
                            </div>
                        </div>
                    </div><!-- // End Row -->
                </div><!-- // End Container -->
            </div>
            <!-- Sinlge Slider Item -->
            <div class="single-slider-item sec-overlay d-flex align-items-center" style="background-image: url(img/slider/slider-1.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <div class="slider-content">
                                <h1>Always fresh <span>&amp;</span> Delightful</h1>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
                            </div>
                        </div>
                    </div><!-- // End Row -->
                </div><!-- // End Container -->
            </div>
            <!-- Sinlge Slider Item -->
            <div class="single-slider-item sec-overlay d-flex align-items-center" style="background-image: url(img/slider/slider-1.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <div class="slider-content">
                                <h1>Always fresh <span>&amp;</span> Delightful</h1>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
                            </div>
                        </div>
                    </div><!-- // End Row -->
                </div><!-- // End Container -->
            </div>
        </div><!-- // End Slider Active -->
    </section><!-- // End Sample Area -->
    <!-- Discover Our Story -->
    <section id="discover-story" class="discover-our-story pt-100 pb-150">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <!-- Discover Content -->
                    <div class="discover-content">
                        <h2>discover our story</h2>
                        <p class="mt-40 mb-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- Discover Img -->
                    <div class="discover-img text-right">
                        <img class="discover-thumb-one" src="img/discover/discover1.jpg" alt="">
                        <img class="discover-thumb-two" src="img/discover/discover2.jpg" alt="">
                    </div>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </section><!-- // End Discover Our Story -->
    <!-- Video Bg Area -->
    <div class="video-bg-area sec-overlay" style="background-image: url(img/slider/slider-1.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center my-auto">
                    <div class="video-play-icon">
                        <!-- YOUTUBE VIDEO LINKS -->
                        <a class="play-btn" data-fancybox href="https://www.youtube.com/watch?v=I_6aMZwf9CU">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </div>
    <!--// End Video Bg Area -->
    <!--Our Special Menu  -->
    <section id="menu" class="our-special-menu pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Section Tilte -->
                    <div class="section-title mb-40">
                        <h2>our special menu</h2>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Portfolio List -->
                    <div id="filters" class="portfolio-list filter-button-group mb-70">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".breakfast">Breakfast</button>
                        <button data-filter=".lunch">Lunch</button>
                        <button data-filter=".dinner">Dinner</button>
                        <button data-filter=".desert">Desert</button>
                        <button data-filter=".coffee">Coffee</button>
                        <button data-filter=".icecream-court">Icecream Court</button>
                        <button data-filter=".snacks">Snacks</button>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row grid">
                <div class="col-lg-6 col-md-6 grid-item breakfast desert">
                    <!-- Single Portfolio Item -->
                    <div class="single-portfolio-item mb-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="img/menu-bg/items-1.jpg" alt="">
                            </div>
                            <div class="col-lg-8 my-auto">
                                <!-- Portfolio Content -->
                                <div class="portfolio-content">
                                    <p>Chicken Masala Dosa <span>............................. $ 39.00</span></p>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grid-item breakfast desert">
                    <!-- Single Portfolio Item -->
                    <div class="single-portfolio-item mb-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="img/menu-bg/items-2.jpg" alt="">
                            </div>
                            <div class="col-lg-8 my-auto">
                                <!-- Portfolio Content -->
                                <div class="portfolio-content">
                                    <p>Chicken Masala Dosa <span>............................. $ 39.00</span></p>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grid-item lunch coffee">
                    <!-- Single Portfolio Item -->
                    <div class="single-portfolio-item mb-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="img/menu-bg/items-3.jpg" alt="">
                            </div>
                            <div class="col-lg-8 my-auto">
                                <!-- Portfolio Content -->
                                <div class="portfolio-content">
                                    <p>Chicken Masala Dosa <span>............................. $ 39.00</span></p>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grid-item lunch coffee snacks">
                    <!-- Single Portfolio Item -->
                    <div class="single-portfolio-item mb-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="img/menu-bg/items-4.jpg" alt="">
                            </div>
                            <div class="col-lg-8 my-auto">
                                <!-- Portfolio Content -->
                                <div class="portfolio-content">
                                    <p>Chicken Masala Dosa <span>............................. $ 39.00</span></p>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grid-item dinner icecream-court snacks">
                    <!-- Single Portfolio Item -->
                    <div class="single-portfolio-item mb-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="img/menu-bg/items-5.jpg" alt="">
                            </div>
                            <div class="col-lg-8 my-auto">
                                <!-- Portfolio Content -->
                                <div class="portfolio-content">
                                    <p>Chicken Masala Dosa <span>............................. $ 39.00</span></p>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grid-item dinner icecream-court">
                    <!-- Single Portfolio Item -->
                    <div class="single-portfolio-item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="img/menu-bg/items-6.jpg" alt="">
                            </div>
                            <div class="col-lg-8 my-auto">
                                <!-- Portfolio Content -->
                                <div class="portfolio-content">
                                    <p>Chicken Masala Dosa <span>............................. $ 39.00</span></p>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="m-0">- Apple Juice</p>
                                            <p class="m-0">- Castard Juice</p>
                                            <p class="m-0">- Chicken Grill</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row">
                <div class="col-lg-12 mt-50 text-center">
                    <a href="" class="load-more-btn">Load More</a>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </section><!-- // End Our Special Menu  -->
    <!-- Cowndown Area -->
    <section class="cowndown-area mb-100">
        <div class="cowndown-left-bg d-none d-md-block"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 col-md-6 offset-md-6">
                    <div class="cowndown-content text-center">
                        <h1>upcoming event remails</h1>
                        <div id="coundt-down" class="mt-40 mb-50">
                            <div class="single-count"><span>02</span> Days</div>
                            <div class="single-count"><span>09</span> Hours</div>
                            <div class="single-count"><span>25</span> Min(s)</div>
                            <div class="single-count"><span>19</span> Sec(s)</div>
                        </div>
                        <a href="#" class="load-more-btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Area -->
    <section class="testimonial-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title mb-80">
                        <h2>what clients say</h2>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <!-- Testimonial Active -->
                    <div class="testimonial-active owl-carousel">
                        <!-- Single Testimonial Items -->
                        <div class="single-testimonial-items">
                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
                            <span>“</span>
                            <p class="author-name">-Julie Vega</p>
                        </div>
                        <div class="single-testimonial-items">
                            <!-- Single Testimonial Items -->
                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
                            <span>“</span>
                            <p class="author-name">-Julie Vega</p>
                        </div>
                    </div>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </section> <!-- // End Testimonial Area -->
    <!-- Team Area -->
    <section class="team-area gray-bg pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title mb-50">
                        <h2>Meet Our experts</h2>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Single Team Wrapper -->
                    <div class="single-team-wrapper">
                        <img src="img/team/team-1.jpg" alt="">
                        <!-- Social-icons -->
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-author-info text-center mt-30">
                        <h5>Michel Blake</h5>
                        <p>Master Chef</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Single Team Wrapper -->
                    <div class="single-team-wrapper">
                        <img src="img/team/team-2.jpg" alt="">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-author-info text-center mt-30">
                        <h5>Thomus Russell</h5>
                        <p>Master Chef</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Single Team Wrapper -->
                    <div class="single-team-wrapper">
                        <img src="img/team/team-3.jpg" alt="">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-author-info text-center mt-30">
                        <h5>Michel Blake</h5>
                        <p>Master Chef</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Single Team Wrapper -->
                    <div class="single-team-wrapper">
                        <img src="img/team/team-4.jpg" alt="">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-author-info text-center mt-30">
                        <h5>Michel Blake</h5>
                        <p>Master Chef</p>
                    </div>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Conataienr -->
    </section><!-- // End Team Area -->
    <!-- Recent News -->
    <section id="news" class="recent-news pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Section Title -->
                    <div class="section-title mb-80">
                        <h2>Recent news</h2>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row mb-30 align-items-center">
                <div class="col-lg-6 col-md-6">
                    <!-- News Left Bg -->
                    <div class="news-left-bg">
                        <img src="img/news/news-bg-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- News Content -->
                    <div class="news-content text-center">
                        <h4>New fresh spring menu is here.</h4>
                        <span>Admin \ January’18</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row align-items-center mb-30">
                <div class="col-lg-6 col-md-6">
                    <div class="news-left-bg">
                        <img src="img/news/news-bg-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- News Content -->
                    <div class="news-content text-center">
                        <h4>New fresh spring menu is here.</h4>
                        <span>Admin \ January’18</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row align-items-center mb-30">
                <div class="col-lg-6 col-md-6">
                    <div class="news-left-bg">
                        <img src="img/news/news-bg-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- News Content -->
                    <div class="news-content text-center">
                        <h4>New fresh spring menu is here.</h4>
                        <span>Admin \ January’18</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="news-left-bg">
                        <img src="img/news/news-bg-4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- News Content -->
                    <div class="news-content text-center">
                        <h4>New fresh spring menu is here.</h4>
                        <span>Admin \ January’18</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row">
                <div class="col-lg-12 mt-40 text-center">
                    <a href="#" class="load-more-btn">Load More</a>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </section><!-- // End Recent News -->
    <!-- Reservation Area -->
    <section id="reservation" class="reservation-area gray-bg pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-80">
                        <h2>Reserve your table</h2>
                    </div>
                </div>
            </div><!-- // End Row -->
            <!-- Reservation Form -->
            <div class="reservation-form">
                <form id="contact-form" action="php/mail.php" method="POST">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="select">
                                    <select name="member">
                                        <option selected disabled>No .of Members</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="date-picker">
                                <input class="form-control" name="datepicker" placeholder="Date" type="text" id="datepicker">
                            </div>
                        </div>
                    </div><!-- // End Row -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mt-50 text-center">
                           <button type="submit">Reserve Now</button>
                        </div>
                    </div>
                </form>
                <div class="form-message"></div>
            </div>

        </div><!-- // End Container -->
    </section><!-- // End Reservation Area -->
    <!-- Site Footer -->
    <footer id="colophon" class="site-footer pt-100 pb-100 black-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Single Footer Item -->
                    <div class="single-footer-item mb-30">
                        <img src="img/logo/footer-logo.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Single Footer Item -->
                    <div class="single-footer-item mb-30">
                        <h3>Opening Hour</h3>
                        <ul>
                            <li>Sun - friday : 8.00-20.00</li>
                            <li>saturday : 12.00-23.59</li>
                            <li><a href="mailto:Contact@dosa.com">Mail us : Contact@dosa.com</a></li>
                        </ul>
                        <a href="#" class="load-more-btn">Download bruchere</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Single Footer Item -->
                    <div class="single-footer-item mb-30">
                        <h3>Quick Contact</h3>
                        <ul class="footer-lists">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Reservation</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privecy</a></li>
                            <li><a href="#">Terms &amp; conditions</a></li>
                            <li><a href="#">Home delivery</a></li>
                            <li><a href="#">Custom order</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Single Footer Items -->
                    <div class="single-footer-item mb-30">
                        <h3>Twitter Post</h3>
                        <div class="subscribtion-form text-center">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,’’Lorem</p>
                            <form action="#">
                                <input type="email" placeholder="Your email address">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- // End Row -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Footer Social Icons -->
                    <div class="footer-social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </footer><!-- // End Site Footer -->
    <!-- Copy Right Area -->
    <div class="copy-right-area pt-25 pb-25 black-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copy-right-content">
                        <p class="m-0">Copyright @<a href="#">CoderHut</a> | <span>2018</span></p>
                    </div>
                </div>
            </div><!-- // End Row -->
        </div><!-- // End Container -->
    </div><!-- // End Copy Right Area -->

    <!-- Js File -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
